<div class="container p-5 mt-5">
    <div class="row">
        <div class="col">
        <form class="formSearch">
            <mat-form-field class="searchAlbums">
              <input type="text"
                     placeholder="Busque un album"
                     aria-label="Number"
                     matInput
                     [formControl]="searchAlbum"
                     [matAutocomplete]="auto" (keyup)="updateResults()">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
        <div class="col">
          <div id="addAlbum" class="mt-3">
              <button mat-fab data-toggle="modal" data-target="#exampleModal" (click)="openDialogCreateAlbum()">
                  <mat-icon>add</mat-icon>
              </button>
          </div>
        </div>
          
    </div>
    <div class="row">
        <div class="col-4" *ngFor="let album of allAlbums" >
            <mat-card class="albumCard" *ngIf="album.title.toLowerCase().includes(searchedAlbum) || searchAlbum.value == ''">
                <mat-card-header>
                  
                  <mat-card-title>{{album.title}} </mat-card-title>
                  <mat-card-subtitle>{{revealArtistName(album.artistId)}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="album.coverUrl" alt="Photo of the album">
                <mat-card-content>
                  <h3>Year: {{album.year}}
                  </h3>
                  <h3>Genre: {{album.genre}}
                </h3>
                </mat-card-content>
                <mat-card-actions>
                  <button (click)="openDialogUpdateAlbum(album)" mat-button>Update</button>
                  <button (click)="openDialogDeleteAlbum(album)" mat-button>Delete</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
    </div>
    